.document-page {
  padding: 1% 3% 1%;
  margin-top: 1%;
  margin-left: 15%;
  margin-right: 15%;
}

.fileCard {
  border: 1px solid black;
  height: 200px;
  width: 178px;
  margin-top: 20px;
  margin-bottom: 40px;
  float: left;
  margin-right: 70px;
}

.document-img {
  height: 120px;
  width: 120px;
  margin-bottom: 20px;
}

.document-cardView {
  width: 176px;
  height: 180px;
  margin-top: 40px;
  margin-right: 50px;
  margin-bottom: 40px;
  padding: 0;
  background-color: transparent !important;
  background-image: none !important;
  border-color: transparent;
  border: none;
}
