.docu-infomations {
  width: 100%;
  height: auto;
  padding: 0;
}
.docu-infomations .left {
  width: 18%;
  padding-left: 1px;
  float: left;
}

.docu-infomations .right {
  width: 82%;
  float: right;
}
.docu-kinds {
  margin-bottom: 20px;
  color: gray;
}
.docu-Info {
  margin-bottom: 20px;
}

.document-delete-button {
  width: auto;
  height: auto;
  background-color: transparent !important;
  background-image: none !important;
  border-color: transparent;
  border: none;
  margin-right: 20px;
  margin-top: 5px;
  padding: 0;
  float: right;
}

.document-modify-button {
  width: auto;
  height: auto;
  background-color: transparent !important;
  background-image: none !important;
  border-color: transparent;
  border: none;
  padding: 0;
  margin-top: 5px;
  margin-right: 20px;
  float: right;
}

.document-delete-img {
  width: 20px;
  height: 20px;
}

.document-modify-img {
  width: 20px;
  height: 20px;
}

.document-buttons {
  float: right;
}

.dc-download-button {
    color: black;
    background-color: #99c0ff;
    border-color: #99c0ff;
  
}