.loginForm {
  margin-top: 5%;
  margin-right: 30%;
  margin-left: 30%;
  padding: 1% 3% 1%;
}

.login-img-logo {
  width: 350px;
  height: 200px;
  text-align: center;
  margin-bottom: 10%;
}

.lg-login-Button {
  float: right;
  font-size: 11px;
  width: auto;
  color: black;
  background-color: #99c0ff;
  border-color: #99c0ff;
  border-radius: 8%;
}

.lg-register-Button {
  float: left;
  font-size: 11px;
  width: auto;
  color: black;
  background-color: #99c0ff;
  border-color: #99c0ff;
  border-radius: 8%;
  margin-right: 3%;
}

.lg-find-Button {
  float: left;
  font-size: 11px;
  width: auto;
  color: black;
  background-color: #99c0ff;
  border-color: #99c0ff;
  border-radius: 8%;
}

.lg-input {
  margin-bottom: 10px;
}
