.color-nav {
  background-color: #96bcf8;
  height: 50px;
}

.img-logo {
  width: 100px;
  height: 40px;
  margin-top: 5px;
  margin-left: 3%;
  float: left;
}

.img-person {
  width: 33px;
  height: 33px;
  margin-top: 2px;
}

.img-alarm {
  width: 33px;
  height: 33px;
  margin-top: 2px;
}

.user-name-dropdown {
  margin-top: 3px;
  color: black;
}

.nav-profile {
  float: right;
  margin-right: 3%;
}

.contanier {
  height: 50px;
}
