.div-form1_pc {
  margin-top: 1%;
  width: 60%;
  float: right;
}

.div-form1_pc1 {
  margin-top: 3%;
  width: 60%;
  float: right;
}

.div-form_pc1 {
  margin-top: 3%;
  width: 100%;
  float: right;
}

.div-form_subject_pc {
  margin-top: 1%;
  width: 48%;
  float: left;
}

.div-form_purpose_pc {
  margin-top: 1%;
  width: 48%;
  float: right;
}

.uploadImage {
  display: none;
}

.selectfile {
  width: 60%;
  margin-top: 2%;
  margin-left: 20%;
  margin-right: 20%;
}

.ImageBox_pc {
  width: 40%;
  float: left;
  vertical-align: middle;
}

.imageLabel {
  background-color: beige;
}

.Image_pc1 {
  width: 100%;
  margin-top: 5%;
  vertical-align: middle;
  border-radius: 30%;
}

.Img_pc1 {
  margin-left: 15%;
  margin-top: 5%;
  border: 1px;
  width: 60%;
  height: 60%;
  float: left;
  vertical-align: middle;
}

.ImageUpdate {
  overflow: hidden;
  display: block;
}

.btm_add_pc {
  width: 20%;
  height: 20%;
  margin-top: 18%;
  padding: 0;
  border: none;
  background: none;
  vertical-align: middle;
}

.dataInput-form_pc {
  float: left;
  width: 100%;
  padding: 0.375rem 0.75rem;
}

.subPurInput-form_pc {
  float: left;
  width: 100%;
  font-size: 1px;
  padding: 0.375rem 0.75rem;
}

.btn-secondary_pc {
  color: #fff;
  width: 20%;
  float: right;
  background-color: #6c757d;
  border-color: #6c757d;
}

.register-Button_pc {
  color: black;
  width: 20%;
  float: right;
  background-color: #99c0ff;
}

.create-Button {
  color: black;
  background-color: #99c0ff;
  border-color: #99c0ff;
}

.spanRed {
  color: red;
}

.participant-form {
  float: left;
  width: 45%;
  margin-top: 5%;
  margin-right: 4%;
  margin-bottom: 4%;
}

.modal {
  font-family: "Cafe24Simplehae";
}
