.Project_pl {
  height: 100%;
  margin-left: 8%;
  margin-right: 8%;
  text-align: center;
}

.ProjectContent_pl {
  display: inline-block;
  height: 800px;
  width: 1000px;
  margin-top: 10px;
  margin-bottom: 20px;
  margin-left: 4%;
  margin-right: 4%;
  height: 90%;
}

.P_contentName_Title {
  width: 100%;
  height: 30px;
  font-size: 25px;
  text-align: left;
  margin-top: 4%;
  margin-left: 2%;
  margin-bottom: 3%;
  float: left;
}

.ProjectBox_pl {
  background-color: #e5efff;
  width: 30%;
  height: 170px;
  z-index: 10;
  border-radius: 15px;
  margin-left: 1%;
  margin-right: 1%;
  margin-top: 2%;
  margin-bottom: 1%;
  float: left;
  border: none;
}

.Title_pl {
  margin-left: 5%;
  margin-bottom: 2%;
  font-size: 25px;
  float: left;
  width: 78%;
  height: 30%;
  text-align: left;
}

.ImgTeam_pl {
  width: 100%;
  height: 70%;
  margin-top: 15%;
  vertical-align: middle;
}

.Image_pl {
  width: 40%;
  width: 40%;
  margin-top: 5%;
  vertical-align: middle;
}

.Img_pl {
  margin-left: 10%;
  margin-top: 1%;
  border: 1px;
  border-radius: 30%;
  width: 80px;
  height: 80px;
  float: left;
  vertical-align: middle;
}

.TeamBox_pl {
  margin-right: 5%;
  width: 60%;
  height: 60%;
  text-align: center;
  float: right;
  vertical-align: middle;
}

.Team_pl {
  font-size: 23px;
  width: 100%;
  height: 40%;
  text-align: center;
}

.Progress_pl {
  width: 100%;
  height: 50%;
  margin-top: 10%;
  text-align: center;
}

.ProgressBar_pl {
  width: 100%;
  height: 25px;
}

.AddProject_pl {
  background-color: #e5efff;
  width: 30%;
  height: 170px;
  border-radius: 15px;
  margin-left: 1%;
  margin-right: 1%;
  margin-top: 2%;
  margin-bottom: 1%;
  float: left;
  vertical-align: middle;
}

.btm_pl {
  margin-top: 1%;
  margin-right: 3%;
  z-index: 20;
  width: 5%;
  height: 7%;
  padding: 0;
  float: right;
  border: none;
  background: none;
}

.btm_image_pl {
  width: 90%;
  height: 90%;
}

.ProjectButton {
  background-color: #e5efff;
  width: 100%;
  height: 145px;
  z-index: 10;
  border-radius: 15px;
  margin-top: 3%;
  float: left;
  border: none;
}
