.nofi-navDrop {
  width: 345px;
  height: 100%;
  margin-bottom: 19%;
}

.nofi-dropButoon {
  background-color: transparent !important;
  background-image: none !important;
  border-color: transparent;
  border: none;
  padding: 0;
  margin-right: 15px;
}

.nofi-dropButoon:focus,
.nofi-dropButoon:active {
  padding: 0;
}

.nofi-dropButoon::after {
  display: none;
}

.nofi-menu {
  background-color: #e5efff;
}

.nofi-text-area {
  float: left;
  width: 65%;
  margin-right: 4%;
  font-size: 14px;
  white-space: normal;
}

.nofi-button-area {
  float: left;
  width: 30%;
  margin-top: 3%;
}

.nofi-accept-button {
  float: left;
  width: auto;
  margin-right: 2%;
  color: black;
  background-color: #99c0ff;
  border-radius: 7%;
  font-size: 8px;
  border-color: #99c0ff;
}

.nofi-reject-button {
  float: left;
  width: auto;
  border-radius: 7%;
  font-size: 8px;
  background-color: #737880;
  border-color: #737880;
}

.nofi-divider {
}
