.date1-form {
  float: left;
  width: 48%;
  margin-right: 4%;
}

.date2-form {
  float: left;
  width: 48%;
}

.participant-form {
  float: left;
  width: 45%;
  margin-top: 5%;
  margin-right: 4%;
  margin-bottom: 4%;
}

.img-cancel {
  width: 8px;
  height: 8px;
}

.cancel-button {
  width: 8px;
  height: 8px;
  background-color: transparent !important;
  background-image: none !important;
  border-color: transparent;
  border: none;
  color: #ffffff;
}

.create-Button {
  color: black;
  background-color: #99c0ff;
  border-color: #99c0ff;
}

.add-todo-button {
  width: auto;
  height: auto;
  background-color: transparent !important;
  background-image: none !important;
  border-color: transparent;
  border: none;
  margin-right: 10%;
}

.todo-add-img {
  width: 30px;
  height: 30px;
}

.todo-create {
  float: right;
}

.td-div-form {
  margin-bottom: 20px;
  height: 70px;
}

.tdd-div-form {
  margin-bottom: 20px;
  height: auto;
}
