* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}
.parent_main {
    display: flex;
    width: 300px;
    height: 80px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

.child_main{
    flex: 1;
    text-align: center;
}

.largest_box {
    background-color: #ffe4e1;
    display: flex;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    border-radius: 15px;
}

.cal-day {
    font-weight: bold;
    color: #333;
    padding: 0.5rem;
    /* border-radius: 10px;*/
    border: 1px #ffffff;
    width: 130px;
    height: 70px;

}

/* .cal-day:hover {
    font-weight: bold;
    background-color: pink;
    min-height: 105px;
    padding: 1rem 1.3rem;
    border-radius: 10px;
    border: 1px solid #f7f7f7;
} */

.cal-schedule{
}


#show_date{
    visibility: visible;
    margin-top: 10px; 
    font-size:35px;
    font-weight: bold; 
    text-align: center;
}

.rap {
    display: inline-block;
    /* max-width: 1200px; */
    width: 500px;
    height: 668px;
    /* margin: 0; */
    /*background-color: white;*/
    padding: 1px 1px 1px 1px;
}

.NoRecord{
	border: 1px solid black;
    position:absolute;
    display:none;
    left:29%;
    top:20%;
    overflow:scroll; 
    border-radius: 1%; 
    background-color: #ffe4e1;
    width: 900px; 
    height: 600px;

}


.divToggle{
    border: 1px solid black;
    position:absolute;
    display:none;
    left:29%;
    top:20%;
    overflow:scroll; 
    border-radius: 1%; 
    background-color: #ffe4e1;
    width: 900px; 
    height: 600px;
}

.cal {
    text-align: center;
}

table.calendar {
    display: inline-table;
    text-align: center;
    /*background-color: white;*/
}

table.calendar td {
    vertical-align: top;
    border-radius: 10%;
    background-color: #ffffff;
    border: 1px solid #f7f7f7;
    text-align: left;
    width: 200px;
    min-height: 120px;

}

table.calendar td:hover{
    font-weight: bold;
    background-color: pink;
    width: 200px;
    min-height: 105px;
    /* padding: 1rem 1.3rem; */
    border-radius: 10px;
    border: 1px solid #f7f7f7;
}

.close {
    float: right;
    cursor: pointer;
    width: 15px;
    height: 15px;
    background: black; 
    border-radius: 50%;
}

.day-photo {
    width: 380px;
    height: 450px;
    margin-left: 5%;
    /* margin-top: 5%; */
}

.product-title {
    text-align: center;
    display: table;
    border: 1px solid #cecece;
    width: 280px;
    height: 250px;
}

.product-img-div {
    display: table-cell;
    vertical-align: middle;
}

.product-img {
    max-width: 100px;
    max-height: 100px;
}

.file-edit-icon {
    margin-left: 0%;
}

.preview-edit, .preview-de{
    color: #ffffff;
    background: #3379FE;
    font-size: 0.8em;
    padding: 0.3em 0.5em;
    margin-left: 0.1em;
}

.record-submit{
	float:left; 
	padding-top: 3%; 
	margin-right: 10%;
}

.record-edit, .record-de{
	display:none;
	float: left;
    color: #ffffff;
    background: pink;
    font-size: 0.8em;
    padding: 0.3em 0.5em;
    margin-left: 0.1em; 
}

.thumb {
    width: 400px;
    height: 200px;
    margin: 0.2em -0.7em 0 0;
}

.remove_img_preview {
    position:relative;
    top:-25px;
    right:5px;
    background:black;
    color:white;
    border-radius:50px;
    font-size:0.9em;
    padding: 0 0.3em 0;
    text-align:center;
    cursor:pointer;
}