* {
    margin: 0;
    padding: 0;
    border: 0;
    font: 맑은고딕;
    text-decoration: none;
    letter-spacing: 0px;
}

html {
    height: 100%;
}

.wrap {
    width: 100%;
    font-size: 14px;
    font-weight: bold;
}

.menubar {
    width: 100%;
    margin: 0 auto;
    border: none;
    background: gray;
    overflow: hidden;
}

.menuLogo {
    width: 100px;
    float: left;
}

.menuItem {
    float: left;
}

.mypage {
    float: right;
}

.logout {
    float: right;
}

.menubar ul {
    background: gray;
    height: 50px;
    list-style: none;
}

.menubar li {
    float: left;
}

.menubar a {
    color: #FFFFFF;
    display: block;
    font-weight: normal;
    line-height: 49px;
    padding: 1px 25px;
    text-align: center;
}

.menubar li a:hover,
.menubar ul li:hover a {
    background: #636363;
    color: #FFFFFF;
}

.menubar li:hover ul {
    display: block;
}

.menubar li:hover li a {
    background: none;
}

.menubar li ul {
    background: #1D375F;
    display: none;
    height: auto;
    position: absolute;
    z-index: 999;
}

.menubar li li a,
.menubar li li {
    background: #c4a236;
    display: block;
    float: none;
    min-width: 98px;
}

.menubar li ul a {
    display: block;
    height: 50px;
    font-size: 12px;
    font-style: normal;
    padding: 0px 10px 0px 15px;
    text-align: left;
}

.menubar li ul a:hover,
.menubar li ul li:hover a {
    background: #636363;
    border: 0px;
    color: #ffffff;
}
