.mp-input {
    margin-bottom: 16px;
}


.mpup-update-Button {
    float: left;
    font-size: 14px;
    width: 45%;
    color: black;
    background-color: #99c0ff;
    border-color: #99c0ff;
    border-radius: 8%;
    margin-right: 3%;
  }
  
  .mpup-cancel-Button {
    float: right;
    font-size: 14px;
    width: 45%;
    color: #fff;
    background-color: #788088;
    border-color: #6c757d;
    border-radius: 8%;
  }

  .mp-img-button{
    float: right;
    width:100%;
    font-size: 15px;
    background-color:#99c0ff;
    margin-bottom : 13px;
    border-radius: 4px;
    color: black;
    cursor: pointer;
    padding-bottom: 3px;
    padding-top : 3px;
  }