.comments {
  width: 100%;
  margin-bottom: 15px;
  height: 100%;
}

.comments-list {
  width: 100%;
}

.cm-left {
  float: left;
  font-size: 14px;
  margin-bottom: 10px;
  width: 30%;
}

.cm-right {
  float: left;
  font-size: 14px;
  margin-bottom: 10px;
  text-align: right;
  width: 70%;
}

.comment-add-button {
  float: right;
  width: 50px;
  height: 20px;
  font-size: 5px;
  padding: 0;
  color: black;

  margin-top: 5px;
  border-color: transparent;
  border: none;
  border-radius: 3px;
}

.cm-content {
  font-size: 12px;
}

.cm-cancel-button {
  width: auto;
  height: 8px;
  background-color: transparent !important;
  background-image: none !important;
  border-color: transparent;
  border: none;
  color: #ffffff;
  float: right;
  padding: 0;
}

.img-cancel {
  width: 8px;
  height: 8px;
}
